body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 0 10px 5px rgb(206, 206, 206);
    border-radius: 5px;
    max-width: 1440px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}

h1 {
    color: hsl(179, 62%, 43%);
    margin: 0;
}

h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

h2.guarantee {
    color: hsl(71, 73%, 54%);
    margin: 20px 0 0 0;
    font-size: 1.3em;
}

p {
    color: hsl(202, 9%, 75%);
    line-height: 1.75em;
    margin: 16px 0 0 0;
}

.main {
    background-color: hsl(179, 62%, 43%);
}
.main h2 {
    margin-bottom: 16px;
}

.main p {
    color: hsl(204, 22%, 86%);
    margin-top: 10px;
}

span.cost {
    color: #fff;
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.month {
    color: hsl(217, 42%, 79%);
}

button {
    margin-top: 30px;
    padding: 15px;
    color: #fff;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.btn:hover {
    background-color: #fff;
    color: hsl(71, 73%, 54%);
    border-radius: 15px;
}


footer.container {
    background-color: hsl(179, 63%, 49%);
    padding-left: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    color: hsl(204, 22%, 86%);
    padding: 1px;
}

@media all and (min-width: 768px) {
    .content {
        width: auto;
    }
    
    .second {
        display: flex;
        flex-direction: row;
    }
    .main {
        width: 50%;
    }

    .footer {
        width: 50%;
    }

}